<h1> Login </h1>

<%= form_for(:session, url: login_path) do |f| %>
  <% if @errors && @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %>:</h2>

      <ul>
      <% @errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="datafields">
    <%= f.text_field :user_name, placeholder: 'User Name' %>
    <%= f.password_field :password, placeholer: 'Password' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
